{% extends "voyadmin/base.html" %}

{% load static i18n sass_tags leaflet_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% sass_src 'css/theme/theme.scss' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.css' %}">
    {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper" id="theme">
            <ol class="breadcrumb">
                <li><a href="{% url 'voy-admin:projects:index' %}">{% trans 'My projects' %}</a></li>
                <li>{{ project.name }}</li>
                <li><a href="{% url 'voy-admin:themes:index' project.pk %}">{% trans 'Themes' %}</a></li>
                <li>{% if editing %} {% trans 'Edit' %} {% else %} {% trans 'New' %} {% endif %}</li>
            </ol>

            <form action="" enctype="multipart/form-data" method="post" role="form" id="form-theme">
                {% csrf_token %}
                {{ data_form.color }}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h3>{% if editing %} {% trans 'Edit Theme' %} {% else %}
                                            {% trans 'New Theme' %} {% endif %}</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-right">
                                            <button id="new_translate_btn" type="button" class="btn btn-oval btn-translate">{% trans 'Translate' %}</button>
                                        </div>

                                        <div class="form-group {% if data_form.name.errors %}has-error{% endif %}">
                                            <label>{% trans 'Name' %}</label>
                                            {{ data_form.name }}
                                            {{ data_form.name.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.color.errors %}has-error{% endif %}">
                                            <label>{% trans 'Color' %}</label>
                                            <div id="colors">
                                            {% for color in colors %}
                                                <div class="color-pick" id="color_{{ color }}" onclick="setColor('{{ color }}')" data-toggle="tooltip" data-placement="top" title="{% trans 'Choose one color to associate this theme. It\'ll reflects on Pin at the front-end and the list of themes in the Mappers App.' %}">
                                                    <div class="color" style="background-color: #{{ color }};"></div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>

                                        <div
                                            class="form-group {% if data_form.description.errors %}has-error{% endif %}">
                                            <label>{% trans 'Description' %}</label>
                                            {{ data_form.description }}
                                            {{ data_form.description.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.tags.errors %}has-error{% endif %}">
                                            <label>{% trans 'Tags' %}</label>
                                            {{ data_form.tags }}
                                            {{ data_form.tags.errors }}
                                        </div>

                                        <div
                                            class="form-group {% if data_form.mappers_group.errors %}has-error{% endif %}">
                                            <label>{% trans 'Mappers' %} (<a href="javascript:;" id="select_all_mappers">Select all</a>) (<a href="javascript:;" id="deselect_all_mappers">Deselect all</a>)</label>
                                            {{ data_form.mappers_group }}
                                            {{ data_form.mappers_group.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.visible.errors %}has-error{% endif %}">
                                            <label>{% trans 'Visible on all platforms (portal and app)' %}</label>
                                            <label class="switch switch-sm pull-right">
                                                {{ data_form.visible }}
                                                <span></span>
                                            </label>
                                            {{ data_form.visible.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.allow_links.errors %}has-error{% endif %}">
                                            <label>{% trans 'Allow mappers to add links to reports' %}</label>
                                            <label class="switch switch-sm pull-right">
                                                {{ data_form.allow_links }}
                                                <span></span>
                                            </label>
                                            {{ data_form.allow_links.errors }}
                                        </div>

                                        <label>{% trans 'Period to receipt reports to evaluating (if is empty the system will consider available to receive)' %}</label>

                                        <div class="form-group {% if data_form.start_at.errors %}has-error{% endif %}">
                                            <label>{% trans 'Start At' %}</label>
                                            <div id="datetimepicker1" class="input-group date">
                                                {{ data_form.start_at }}
                                                <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            </div>
                                        </div>

                                        <div class="form-group {% if data_form.end_at.errors %}has-error{% endif %}">
                                            <label>{% trans 'End At' %}</label>
                                            <div id="datetimepicker2" class="input-group date">
                                                {{ data_form.end_at }}
                                                <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            </div>
                                        </div>

                                        <div class="form-group {% if data_form.translations.errors %}has-error{% endif %}">
                                            <label>{% trans 'Languages' %}</label>
                                            {{ data_form.translations }}
                                            {{ data_form.translations.errors }}
                                        </div>

                                        <a href="javascript:"
                                           onclick="submitForm()"
                                           class="pull-right btn btn-oval btn-new-theme">
                                            {% if editing %} {% trans 'Save' %} {% else %} {% trans 'Create' %} {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div role="alert" class="alert alert-info">
                                    {% trans 'You can set the theme area by drawing the boundaries of the project, represented in the orange color on the map.' %}
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="map">
                                    {{ data_form.bounds }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- translate-modal -->
    <div id="translate-modal">
        <div class="opacity"></div>
        <div class="content-modal">
            <fieldset>
                <div class="row">
                    <div class="col-md-12 text-center pt-10">
                        <h4>{% trans 'Translate to' %}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group {% if translate_data_form.language.errors %}has-error{% endif %}">
                            <label>{% trans 'Language' %}</label>
                            {{ translate_data_form.language }}
                            {{ translate_data_form.language.errors }}
                        </div>

                        <form action="" id="translate_form">
                            <div class="form-group {% if translate_data_form.name.errors %}has-error{% endif %}">
                                <label>{% trans 'Name' %}</label>
                                {{ translate_data_form.name }}
                                {{ translate_data_form.name.errors }}
                            </div>

                            <div class="form-group {% if translate_data_form.description.errors %}has-error{% endif %}">
                                <label>{% trans 'Description' %}</label>
                                {{ translate_data_form.description }}
                                {{ translate_data_form.description.errors }}
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 buttons text-right">
                        <a href="javascript:;" class="btn btn-default cancel"
                            id="close_translate_modal">{% trans 'Cancel' %}</a>
                        <a href="javascript:;" id="translate_save" class="btn btn-default save">{% trans 'Save' %}</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js' %}"></script>
    <script src="{% static 'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.js' %}"></script>

    {% leaflet_js plugins="forms" %}

    <script type="text/javascript">
        $('#id_mappers_group').chosen();
        $('#id_tags').chosen();
        $('.demo-colorpicker').colorpicker();
        $('[data-toggle="tooltip"]').tooltip();

        window.addEventListener('map:init', function(e) {
            var detail = e.detail;
            var project_bounds = {{ project_bounds }};
            var bounds = project_bounds[0].map((item) => {
                return [item[1], item[0]];
            });

            var polygon = new L.Polygon(bounds);
            polygon.setStyle({color: '#ff7800'});
            e.detail.map.addLayer(polygon);
            e.detail.map.fitBounds(polygon.getBounds());
        }, false);

        $('#datetimepicker1,#datetimepicker2').datetimepicker({
            format: 'MM/DD/YYYY',
            icons: {
                date: 'fa fa-calendar',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-crosshairs',
                clear: 'fa fa-trash'
            }
        });

        $('#datetimepicker1').on('dp.change', function(e) {
            $('#datetimepicker2').data('DateTimePicker').minDate(e.date);
        });

        $('#datetimepicker2').on('dp.change', function(e) {
            $('#datetimepicker1').data('DateTimePicker').maxDate(e.date);
        });

        {% if selected_tags %}
            var tags = [];
            {% for tag in selected_tags %}
                tags.push('{{ tag }}');
            {% endfor %}
            $('#id_tags').val(tags);
            $('#id_tags').trigger('chosen:updated');
        {% endif %}

        {% if selected_mappers %}
            var mappers = [];
            {% for mapper in selected_mappers %}
                mappers.push('{{ mapper.0 }}');
            {% endfor %}
            $('#id_mappers_group').val(mappers);
            $('#id_mappers_group').trigger('chosen:updated');
        {% endif %}

        function setColor(color) {
            $('#id_color').val('#' + color);
            $('.color-pick').removeClass('color-checked');
            $('#color_' + color).addClass('color-checked');
        }

        function submitForm() {
            $('#form-theme').submit();
        }

        {% if data_form.color.value %}
        setColor('{{ data_form.color.value }}');
        {% endif %}

        $('#id_translations').translateinput(
            $('#translate_form'),
            $('#id_translate-language'),
        );

        $('#id_translations').translateinput('itemClick', function() {
            $('#translate-modal').show();
        });

        $('#translate_save').click(function() {
            $('#id_translations').translateinput('save');
            $('#translate-modal').hide();
        });

        $('#close_translate_modal').click(function() {
            $('#translate-modal').hide();
        });

        $('#new_translate_btn').click(function() {
            $('#translate-modal').show();
            $('#id_translate-language')
                .select2()
                .val($("#id_translate-language option:first").val())
                .change();
        });

        $('#select_all_mappers').click(function() {
            $('#id_mappers_group option').prop('selected', true);
            $('#id_mappers_group').trigger('chosen:updated');
        });

        $('#deselect_all_mappers').click(function() {
            $('#id_mappers_group option:selected').removeAttr('selected');
            $('#id_mappers_group').trigger('chosen:updated');
        });
    </script>
{% endblock %}
