{% extends "voyadmin/base.html" %}

{% load static i18n sass_tags %}

{% block extracss %}
<link rel="stylesheet" href="{% sass_src 'css/project/project.scss' %}">
<link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.13/leaflet.draw.css" />
{% endblock %}

{% block content %}
<section>
    <div class="content-wrapper">
        <div class="content-heading">
            {% trans 'New project' %}
        </div>

        <form action="" enctype="multipart/form-data" method="post" role="form" id="form-project">
            {% csrf_token %}
            {{ data_form.boundary }}
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>{% trans 'New Project' %}</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group {% if data_form.name.errors %}has-error{% endif %}">
                                        <label>{% trans 'Name' %}</label>
                                        {{ data_form.name }}
                                        {{ data_form.name.errors }}
                                    </div>

                                    <div class="form-group {% if data_form.path.errors %}has-error{% endif %}">
                                        <label>{% trans 'Edit URL' %}</label>
                                        <div class="row">
                                            <label class="col-lg-5 control-label">voiceofyouth.com/</label>
                                            <div class="col-lg-7">
                                                {{ data_form.path }}
                                                {{ data_form.path.errors }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group {% if data_form.description.errors %}has-error{% endif %}">
                                        <label>{% trans 'Description' %}</label>
                                        {{ data_form.description }}
                                        {{ data_form.description.errors }}
                                    </div>

                                    <div class="form-group {% if data_form.thumbnail.errors %}has-error{% endif %}">
                                        <label>{% trans 'Thumbnail' %}</label>
                                        {{ data_form.thumbnail }}
                                        {{ data_form.thumbnail.errors }}
                                    </div>

                                    <div class="form-group {% if data_form.language.errors %}has-error{% endif %}">
                                        <label>{% trans 'Language' %}</label>
                                        {{ data_form.language }}
                                        {{ data_form.language.errors }}
                                    </div>
                                    
                                    <div class="form-group {% if data_form.tags.errors %}has-error{% endif %}">
                                        <label>{% trans 'Tags' %}</label>
                                        {{ data_form.tags }}
                                        {{ data_form.tags.errors }}
                                    </div>

                                    <div class="form-group {% if data_form.local_admin.errors %}has-error{% endif %}">
                                        <label>{% trans 'Local Admin' %}</label>
                                        {{ data_form.local_admin }}
                                        {{ data_form.local_admin.errors }}
                                    </div>

                                    <div class="form-group text-center buttons">
                                        <button type="submit" onclick="submitForm()" class="btn btn-oval btn-lg btn-default">{% trans 'Started' %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div id="map"></div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.13/leaflet.draw.js"></script>

<script type="text/javascript">
axios.defaults.headers.post = {'X-CSRFToken': '{{ csrf_token }}'};
$('#id_local_admin').chosen();
$('#id_tags').tagsinput();

var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    osm = L.tileLayer(osmUrl, {
        maxZoom: 18, attribution: osmAttrib
    }),
    map = new L.Map('map', {
        center: new L.LatLng(51.505, -0.04), 
        zoom: 13 
    })
    drawnItems = L.featureGroup().addTo(map);

L.control.layers({
    'osm': osm.addTo(map)
}, { 
    'drawlayer': drawnItems 
}, { 
    position: 'topright',
    collapsed: false,
}).addTo(map);

var controlDraw = new L.Control.Draw({
    edit: {
        featureGroup: drawnItems,
        edit: false,
    },
    draw: {
        polygon: true,
        marker: false,
        circle: false,
        rectangle: false,
        circlemarker: false,
        polyline: false,
    },
});

map.addControl(controlDraw);

var controlEdit = new L.Control.Draw({
    edit: {
        featureGroup: drawnItems,
        edit: false,
    },
    draw: false,
});

map.on(L.Draw.Event.CREATED, function(e) {
    drawnItems.addLayer(e.layer);
    map.removeControl(controlDraw);
    map.addControl(controlEdit);

    console.log(e.layer.toGeoJSON());

    var coordinates = e.layer.toGeoJSON().geometry.coordinates[0];
    var toSave = '';

    for (var i = 0; i < coordinates.length; i += 1) {
        toSave += coordinates[i][0] + ' ' + coordinates[i][1] + ', ';
    }

    $('#id_boundary').val(toSave)
});

map.on(L.Draw.Event.DELETED, function(e) {
    map.removeControl(controlEdit);
    map.addControl(controlDraw);
    $('#id_boundary').val('')
});

{% if data_form.boundary.value %}
var polygonSave = '{{ data_form.boundary.value }}'.split(', ');
if (polygonSave.length) {
    var arrayCoords = [];
    for (var u = 0; u < polygonSave.length; u += 1) {
         var coord = polygonSave[u].split(' ');
         if (coord[0] && coord[1]) {
             arrayCoords.push([parseFloat(coord[0]), parseFloat(coord[1])]);
         }
    }
    var polygon = new L.Polygon([arrayCoords], {
        editable: true
    });
    map.addLayer(polygon);
    map.removeControl(controlDraw);
    map.addControl(controlEdit);
}
// console.log(polygonSave);
{% endif %}

function submitForm() {
    $('#form-project').submit();
}
</script>
{% endblock %}
