{% extends "voyadmin/base.html" %}

{% load static i18n sass_tags leaflet_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% sass_src 'css/project/project.scss' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.css' %}">
    {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <form action="" enctype="multipart/form-data" method="post" role="form" id="form-project">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h3>{% if editing %} {% trans 'Edit Project' %} {% else %}
                                            {% trans 'New Project' %} {% endif %}</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-right">
                                            <button id="new_translate_btn" type="button" class="btn btn-oval btn-translate">{% trans 'Translate' %}</button>
                                        </div>
                                        <div class="form-group {% if data_form.name.errors %}has-error{% endif %}">
                                            <label>{% trans 'Name' %}</label>
                                            {{ data_form.name }}
                                            {{ data_form.name.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.path.errors %}has-error{% endif %}">
                                            <label>{% trans 'Edit URL' %}</label>
                                            <div class="row">
                                                <label class="col-lg-5 control-label">{{ request.get_host }}/</label>
                                                <div class="col-lg-7">
                                                    {{ data_form.path }}
                                                    {{ data_form.path.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group {% if data_form.description.errors %}has-error{% endif %}">
                                            <label>{% trans 'Description' %}</label>
                                            {{ data_form.description }}
                                            {{ data_form.description.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.enabled.errors %}has-error{% endif %}">
                                            <label>{% trans 'Enabled' %}</label>
                                            <label class="switch switch-sm pull-right">
                                                {{ data_form.enabled }}
                                                <span></span>
                                            </label>
                                            {{ data_form.enabled.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.thumbnail.errors %}has-error{% endif %}">
                                            <label>{% trans 'Thumbnail' %}</label>
                                            {{ data_form.thumbnail }}
                                            {{ data_form.thumbnail.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.language.errors %}has-error{% endif %}">
                                            <label>{% trans 'Language' %}</label>
                                            {{ data_form.language }}
                                            {{ data_form.language.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.tags.errors %}has-error{% endif %}">
                                            <label>{% trans 'Tags' %}</label>
                                            {{ data_form.tags }}
                                            {{ data_form.tags.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.local_admin.errors %}has-error{% endif %}">
                                            <label>{% trans 'Local Admin' %}</label>
                                            {{ data_form.local_admin }}
                                            {{ data_form.local_admin.errors }}
                                        </div>

                                        <div class="form-group {% if data_form.translations.errors %}has-error{% endif %}">
                                            <label>{% trans 'Languages' %}</label>
                                            {{ data_form.translations }}
                                            {{ data_form.translations.errors }}
                                        </div>

                                        <a href="javascript:"
                                           onclick="submitForm()"
                                           class="pull-right btn btn-oval btn-new-project">
                                            {% if editing %} {% trans 'Save' %} {% else %} {% trans 'Create' %} {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div id="map">
                            {{ data_form.bounds }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- translate-modal -->
    <div id="translate-modal">
        <div class="opacity"></div>
        <div class="content-modal">
            <fieldset>
                <div class="row">
                    <div class="col-md-12 text-center pt-10">
                        <h4>{% trans 'Translate to' %}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group {% if translate_data_form.language.errors %}has-error{% endif %}">
                            <label>{% trans 'Language' %}</label>
                            {{ translate_data_form.language }}
                            {{ translate_data_form.language.errors }}
                        </div>

                        <form action="" id="translate_form">
                            <div class="form-group {% if translate_data_form.name.errors %}has-error{% endif %}">
                                <label>{% trans 'Name' %}</label>
                                {{ translate_data_form.name }}
                                {{ translate_data_form.name.errors }}
                            </div>

                            <div class="form-group {% if translate_data_form.description.errors %}has-error{% endif %}">
                                <label>{% trans 'Description' %}</label>
                                {{ translate_data_form.description }}
                                {{ translate_data_form.description.errors }}
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 buttons text-right">
                        <a href="javascript:;" class="btn btn-default cancel"
                            id="close_translate_modal">{% trans 'Cancel' %}</a>
                        <a href="javascript:;" id="translate_save" class="btn btn-default save">{% trans 'Save' %}</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'vendor/select2/dist/js/select2.js' %}"></script>
    {% leaflet_js plugins="forms" %}

    <script type="text/javascript">
        $('#id_local_admin').chosen();
        $('#id_tags').tagsinput();

        {% if selected_tags %}
            {% for tag in selected_tags %}
                {% if tag %}
                    $('#id_tags').tagsinput('add', '{{ tag }}');
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if selected_local_admins %}
            var local_admin = [];
            {% for local_admin in selected_local_admins %}
                local_admin.push('{{ local_admin.0 }}');
            {% endfor %}
            $('#id_local_admin').val(local_admin);
            $('#id_local_admin').trigger('chosen:updated');
        {% endif %}

        function submitForm() {
            $('#form-project').submit();
        }

        $('#id_language').select2();

        $('#id_translations').translateinput(
            $('#translate_form'),
            $('#id_translate-language'),
        );
        $('#id_translations').translateinput('itemClick', function () {
            $('#translate-modal').show();
        });

        $('#translate_save').click(function () {
            $('#id_translations').translateinput('save');
            $('#translate-modal').hide();
        });

        $('#close_translate_modal').click(function () {
            $('#translate-modal').hide();
        });

        $('#new_translate_btn').click(function () {
            $('#translate-modal').show();
            $('#id_translate-language')
                .select2()
                .val($("#id_translate-language option:first").val())
                .change();
        });
    </script>
{% endblock %}
