[run]
omit =
        *__init__*
        */env/*
        */migrations/*
        */admin.py
        */apps.py
        */tests*
        */urls.py
        voicesofyouth/wsgi.py
        voicesofyouth/settings.py

source = voicesofyouth
