.container-row {
    display: flex;
    align-items: baseline
}

.container-column {
    display: flex;
    flex-direction: column;
}

.item {
    margin: auto;
}

.no-bullets {
    list-style-type: none
}

#reset_password {
    background-color: #E9E9E9;
    color: black;
}

.form-control {
    color: black;
}

body {
    color: black;
}

.container-column {
    padding-top: 15px;
}

#modalEditUserPassword, #modalEditUserProfile {
    z-index: 1051 !important;
}

.modal-backdrop {
    z-index: 1050 !important;
}

.btn-danger {
    color: #fff;
    background-color: #DE486B;
    border-color: #DE486B;
}

