.btn-default {
    background-color: #9A9A9A;
    color: #fff;
}

.modal-header {
    background-color: #00CDFC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
}

.modal-sm {
    width: 494px;
}
