.media-body {
    left: 2em;
    position: relative;
}

.container {
    display: flex;
    align-content: flex-start;
}

.item {
    margin: auto;
    align-self: center;
}

.badge-info {
    background-color: #C5C5C5
}
