.container-row {
    display: flex;
    align-items: baseline
}

.container-column {
    display: flex;
    flex-direction: column;
}

.item {
    margin: auto;
    //align-self: center;
}

.no-bullets {
    list-style-type: none
}

.modal-header {
    background-color: #00CDFC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
}

#remove_mapper {
    background-color: white;
    color: black;
}

#reset_password {
    background-color: #E9E9E9;
    color: black;
}

.modal-sm {
    width: 494px;
}

.form-control {
    color: black;
}

body {
    color: black;
}
