.btn-default {
    background-color: #9A9A9A;
    color: #fff;
}

.modal-header {
    background-color: #00CDFC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
}

.modal-sm {
    width: 494px;
}

.panel-default {
    .panel-heading {
        background-color: white;
    }
}

.panel-footer {
    background-color: white;
}

.panel-body {
    padding-top: 0px;
}

.table {
    border-collapse: unset;
}

.content-wrapper {
    .content-heading {
        margin-bottom: 0px;
    }

    .content-heading {
        margin: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .content-wrapper {
        padding: 0px;
    }
}
