.btn-home-form {
    border-radius: 50px;
    color: #fff;
    background-color: #7ED321;
    width: 100px;
    float: right;
}

.m-t-10 {
    margin-top: 10px;
}

.btn-delete {
    border-radius: 50px;
    font-weight: bold;
    border-color: #DE486B;
}

.btn-delete:hover {
    color: #fff;
    background-color: #DE486B;
    border-color: #DE486B;
}