$color_approve: #8CD644;
$color_delete: #DE486B;

.btn-home-form {
    border-radius: 50px;
    color: #fff;
    background-color: #7ED321;
    width: 100px;
    float: right;
}

.m-t-10 {
    margin-top: 10px;
}

#requests {
    .buttons a {
        width: 100px;
        margin: 15px 5px;
        height: 39px;
        border-radius: 50px;
        font-weight: bold;
        background-color: #fff;
        padding-top: 10px;
    }

    .btn-danger {
        border-color: $color_delete;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: $color_delete;
        border-color: $color_delete;
    }

    .approve {
        color: #333;
        border-color: $color_approve;
    }

    .approve:hover {
        background-color: $color_approve;
        color: #fff;
    }
}
