{% extends "./users_list_base.html" %}

{% load i18n %}

{% block title %}Admins{% endblock %}
{% block add_new_user_button_title %} {% trans "Add new admin" %}{% endblock %}
{% block extra_table_users_class %}admins-list{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script>
        $('#id_projects').removeAttr('required');

        function disable_local_admin_fields() {
            $('[id=id_projects_chosen],[for^=id_projects]').removeAttr('required').hide();
        }

        function enable_local_admin_fields() {
            $('[id=id_projects_chosen],[for^=id_projects]').attr('required', true).show();
            $('#id_projects').trigger('chosen:updated');
        }

        if ($('input[id^=id_global_admin]:checked').val() === 'local') {
            enable_local_admin_fields();
        } else {
            disable_local_admin_fields();
        }

        $('input[id^=id_global_admin]').change((evt) => {
            if (evt.target.value === 'local') {
                enable_local_admin_fields();
            } else {
                disable_local_admin_fields();
            }
        })
    </script>
{% endblock %}
