{% extends "./user_detail_base.html" %}
{% load static i18n sass_tags %}

{% block add_new_user_button_title %}Add new admin{% endblock %}
{% block title %}Admin{% endblock %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/admin_common.scss' %}" type="text/css">
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% include "./include/common_admin_js.html" %}
    <script>
        {# Update the chosen with selected projects. #}
        var projects = [];
        {% for project in user.projects.all %}
            projects.push('{{ project.id }}');
        {% endfor %}

        const elem = $('form[id=editUserForm] select[id=id_projects]');
        elem.val(projects).trigger('chosen:updated');
    </script>
{% endblock %}
