{% extends "./users_list_base.html" %}
{% load static i18n sass_tags %}

{% block title %} Mappers {% endblock %}
{% block add_button_title %} Add new mapper {% endblock %}
{% block modal_add %}
    {% url "voy-admin:users:mappers_list" as mapper_add_url %}
    {% include "user_new/modal_add_user.html" with modal_add_title="Add mapper" avatars=form_add_mapper.fields.avatars.choices user=mapper post_add_user_url=mapper_add_url form_add_user=form_add_mapper %}
{% endblock %}

{% block search_form %}
    {% url "voy-admin:users:mappers_list" as search_form_url %}
    {% include "user_new/search_form.html" %}
{% endblock %}

{% block panel_body %}
    {% for user in mappers %}
        {% include "user_new/user_render.html" %}
    {% endfor %}
{% endblock %}

{% block panel_footer %}
    {% if mappers.has_next %}
        <div class="row">
            <div class="text-right">
                {% include "voyadmin/paginator.html" with paginator=mappers %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block search_bar %}
    <form action={% url "voy-admin:users:mappers_list" %} method="get" role="form">
        <th colspan="2">
            <div>
                {{ form.non_field_errors }}
                <p>Filter by:</p>
                {% for field in filter_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% for field in filter_form.visible_fields %}
                    {% if field != filter_form.search %}
                        <div class="col-xs-3">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </th>
        <th>
            <div>
                <input
                        type="submit"
                        value={% trans "Filter" %}
                                class="btn btn-primary btn-lg"/>
            </div>

        </th>
    </form>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        usersDeleteSubject.subscribe(users => {
            var params = new URLSearchParams();
            params.append('deleteMappers', users);
            axios.post("{% url 'voy-admin:users:mappers_list' %}", params)
                .then(() => {
                    swal("Success", "Users deleted!", "success").then(value => {
                        window.location.href = "{% url "voy-admin:users:mappers_list" %}"
                    })
                })
                .catch(() => {
                    swal("Ops!", "Somethings wrong happen!", "error")
                        .then(value => {
                            window.location.href = "{% url "voy-admin:users:mappers_list" %}"
                        })
                });
        });
    </script>

{% endblock %}
