{% extends "./users_list_base.html" %}

{% load i18n sass_tags %}

{% block title %}Admins{% endblock %}
{% block add_new_user_button_title %} {% trans "Add new admin" %}{% endblock %}
{% block extra_table_users_class %}admins-list{% endblock %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/admin_common.scss' %}" type="text/css">
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% include "./include/common_admin_js.html" %}
{% endblock %}
