{% extends "voyadmin/base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/user_base.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <div class="content-heading">
                <div style="display: flex; flex-direction: row-reverse;">
                    <p style="order: 1; flex-grow: 2">Admins</p>
                    <div class="input-group margin-bottom-sm col-xs-3">
                        <form action="{% url "voy-admin:users:admin_list" %}" method="get" id="admin_search">
                            {% for field in filter_form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {{ filter_form.search }}
                        </form>
                        <span id="post_admin_search" class="input-group-addon" style="cursor:pointer;">
                        <i class="fa fa-search fa-fw"></i>
                    </span>
                    </div>
                    <div class="input-group margin-bottom-sm" style="order: -1; margin-left: 47px;">
                        <button
                                class="btn btn-default"
                                data-toggle="modal"
                                data-target="#modalAddAdmin">
                            <i class="fa fa-plus fa-lg" style="margin-right: 5px"></i> Add new admin
                        </button>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: row-reverse">
                {# TODO: We need a more concisive way to format this panel without use id. #}
                <div class="panel panel-default col-xs-11" id="report">
                    <div class="panel-heading">
                        {% block panel_heading %}
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block panel_body %}
                        {% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% block panel_footer %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block extrahtml %}
    {% trans "Add admin" as modal_title %}
    {% include "user/modal_edit_or_add.html" with modal_name="modalAddAdmin" form=form_add_admin modal_title=modal_title %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script>
        {% if open_modal %}
            $('#modalAddAdmin').modal('show');
        {% endif %}
    </script>
    <script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript">
        $("#post_admin_search").click(() => {
            $("#admin_search").submit();
        });
    </script>
    <script>
        $('#id_projects').removeAttr('required');

        function disable_local_admin_fields() {
            $('div[name=local-admin-fields]').fadeOut();
            $('#id_projects').removeAttr('required');
            $('#id_projects').trigger('chosen:updated');
        }

        function enable_local_admin_fields() {
            $('div[name=local-admin-fields]').fadeIn();
            $('#id_projects').attr('required', true);
            $('#id_projects').trigger('chosen:updated');
        }

        if ($('input[id^=id_global_admin]:checked').val() === 'local') {
            enable_local_admin_fields();
        } else {
            disable_local_admin_fields();
        }
        $('input[id^=id_global_admin]').change((evt) => {
            if (evt.target.value === 'local') {
                enable_local_admin_fields();
            } else {
                disable_local_admin_fields();
            }
        })
    </script>
    <script type="text/javascript">
        $("img[id='current_avatar']").click((evt) => {
            $(evt.target).parents('div').find('#avatars').slideToggle("slow");
        });
        $("img[id^='avatar_']").click((evt) => {
            const selected_avatar = $(evt.target);
            const avatars = $(evt.target).parents('div').find('#avatars');
            const current_avatar = $(evt.target).parents('div').find('#current_avatar');
            const hidden_avatar = $(evt.target).parents('div').find('#id_avatars');
            $(current_avatar).attr('src', selected_avatar.attr('src'));
            hidden_avatar.val(selected_avatar.attr('id').split('_')[1]);
            avatars.slideUp("slow");
        });
    </script>
    <script type="text/javascript">
        $("select[id='id_projects']").chosen();
    </script>
{% endblock %}
