{% extends "user/admin_base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/users_list.scss' %}" type="text/css">
{% endblock %}

{% block panel_body %}
    <div class="table-responsive">
        <table class="table admins-list">
            <thead>
            <tr>
                <th data-check-all="">
                    <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox"
                         data-original-title="" title="">
                        <label>
                            <input type="checkbox" id="admin_check_all">
                            <span class="fa fa-check"></span>
                        </label>
                    </div>
                </th>
                <th colspan="3">
                    <div>
                        <button
                                class="btn btn-default btn-lg"
                                id="remove_admins"
                                disabled
                                style="background-color: #E9E9E9; color: #000000"
                        >{% trans "Remove" %}</button>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="{{ admin.id }}"
                                       id="admin_check_{{ admin.id }}">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                            <img src="{{ admin.get_avatar_display }}" alt="">
                        </div>
                    </td>
                    <td>
                        <div>
                            <h4 class="media-heading">{{ admin.get_full_name }}</h4>
                            {% if admin.is_superuser %}
                                <div class="badge badge-global-admin">Global admin</div>
                            {% else %}
                                <div class="badge badge-info">Local admin</div>
                            {% endif %}
                            <br>
                            {% for project in admin.local_admin_of %}
                                <div class="badge badge-project">{{ project }}</div>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="text-center">
                        <button
                                class="btn btn-default btn-lg btn-oval"
                                data-toggle="modal"
                                data-target="#modalEditAdmin{{ admin.id }}">{% trans "Profile" %}</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block panel_footer %}
    <div class="row">
        <div class="text-right">
            {% include "voyadmin/paginator.html" with paginator=mappers %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        axios.defaults.headers.post = {'X-CSRFToken': '{{ csrf_token }}'};

        disable_remove_button = (state) => {
            $("button[id^='remove_admins']").prop("disabled", state);
        };

        $("[id^='admin_check']").change((event) => {
            if (event.target.checked) {
                disable_remove_button(false);
            } else {
                if (event.target.id === 'admin_check_all' && !event.target.checked) {
                    disable_remove_button(true);
                }
                if ($("[id^='admin_check']input:checked").length <= 0) {
                    disable_remove_button(true);
                }
            }
        });

        $('#remove_admins').click(function () {
            swal({
                title: '{% trans "This feature is not implemented yet!" %}',
                icon: 'warning',
                text: 'For more details click on the link bellow:',
                content: {
                    element: 'a',
                    attributes: {
                        href: 'https://github.com/Ilhasoft/voices-of-youth/issues/27',
                        text: 'issue 27'
                    }
                }
            });
            {# When issue 27 is closed we can use the code bellow to implement the procedure to remove admins. #}
            swal({
                title: "{% trans "Are you sure?" %}",
                text: "{% trans "We will delete the selected mapper(s)." %}",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then(willDelete => {
                if (willDelete) {
                    event.preventDefault();
                    let usersToDelete = new Promise((resolve, reject) => {
                        let mappers = new Array();
                        let params = new URLSearchParams();
                        mappers.push(_.map($("[id^='admin_check']input:checked"),
                            admin => {
                                return admin.value
                            }));
                        params.append('deleteAdmins', mappers);
                        resolve(params);
                    });
                    usersToDelete.then(
                        users => {
                            axios.post("{% url 'voy-admin:users:admins_list' %}", users)
                                .then((response) => {
                                    swal("Success", response.data, "success").then(value => {
                                        window.location.href = "{% url "voy-admin:users:admins_list" %}"
                                    })
                                })
                                .catch((error) => {
                                    swal("Ops!", error.response.data, "error");
                                });
                        }
                    );
                }
            });
        })
    </script>
{% endblock %}
