{% extends "voyadmin/base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% sass_src 'css/user/user_base.scss' %}" type="text/css">
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <div class="content-heading">
                <div style="display: flex; flex-direction: row-reverse;">
                    <p style="order: 1; flex-grow: 2">Mappers</p>
                    <div class="input-group margin-bottom-sm col-xs-3">
                        <form action="{% url "voy-admin:users:mappers_list" %}" method="get" id="mapper_search">
                            {% for field in filter_form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {{ filter_form.search }}
                        </form>
                        <span id="post_mapper_search" class="input-group-addon" style="cursor:pointer;">
                        <i class="fa fa-search fa-fw"></i>
                    </span>
                    </div>
                    <div class="input-group margin-bottom-sm" style="order: -1; margin-left: 47px;">
                        <button class="btn btn-default ">
                            <i class="fa fa-plus fa-lg" style="margin-right: 5px"></i> Add new mapper
                        </button>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: row-reverse">
                {# TODO: We need a more concisive way to format this panel without use id. #}
                <div class="panel panel-default col-xs-11" id="report">
                    <div class="panel-heading">
                        {% block panel_heading %}
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block panel_body %}
                        {% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% block panel_footer %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
