{% extends "user/user_detail_base.html" %}
{% load static i18n sass_tags %}

{% block add_new_user_button_title %}Add new mapper{% endblock %}
{% block title %}Mapper{% endblock %}

{% block users_base_panel_body %}
    {{ block.super }}
    <div class="container-row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">
            <h4>Projects</h4>
            <div>
                {% for project in voy_user.projects.all %}
                    <div class="badge badge-info">{{ project }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <h4>Themes</h4>
            <div>
                {% for theme in voy_user.themes.all %}
                    <div class="badge badge-info">{{ theme }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <h4>{{ voy_user.reports.count }} reports by {{ voy_user.first_name }}</h4>
    <hr>
    <div class="row">
        {% for report in voy_user.reports.all %}
            {% include "report/report_resume.html" with report=report %}
        {% endfor %}
    </div>
{% endblock %}
