{% extends "voyadmin/base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/user_base.scss' %}" type="text/css">
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <div class="content-heading">
                <div style="display: flex; flex-direction: row-reverse;">
                    <p style="order: 1; flex-grow: 2">Mappers</p>
                    <div class="input-group margin-bottom-sm col-xs-3">
                        <form action="{% url "voy-admin:users:mappers_list" %}" method="get" id="mapper_search">
                            {% for field in filter_form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {{ filter_form.search }}
                        </form>
                        <span id="post_mapper_search" class="input-group-addon" style="cursor:pointer;">
                        <i class="fa fa-search fa-fw"></i>
                    </span>
                    </div>
                    <div class="input-group margin-bottom-sm" style="order: -1; margin-left: 47px;">
                        <button
                                class="btn btn-default"
                                data-toggle="modal"
                                data-target="#modalAddMapper">
                            <i class="fa fa-plus fa-lg" style="margin-right: 5px"></i> Add new mapper
                        </button>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: row-reverse">
                {# TODO: We need a more concisive way to format this panel without use id. #}
                <div class="panel panel-default col-xs-11" id="report">
                    <div class="panel-heading">
                        {% block panel_heading %}
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block panel_body %}
                        {% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% block panel_footer %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block extrahtml %}
    <div id="modalAddMapper"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalAddMapperLabel"
         aria-hidden="true"
         class="modal fade"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="container-column">
                        <div>
                            <h4 id="modalAddMapperLabel" class="modal-title">{% trans "Add mapper" %}</h4>
                        </div>
                        <div style="display: none" id="avatars">
                            {% for id, avatar_url in form_add_mapper.fields.avatars.choices %}
                                <img src="{{ avatar_url }}" id="avatar_{{ id }}" style="cursor: pointer">
                            {% endfor %}
                        </div>
                        <div style="padding: 5px;">
                            {% if mapper %}
                                <img id="current_avatar" src="{{ mapper.get_avatar_display }}" alt=""
                                     style="cursor: pointer">
                            {% else %}
                                <img id="current_avatar" src="{{ default_avatar }}" alt="" style="cursor: pointer">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <form action="{% url "voy-admin:users:mappers_list" %}" id="addMapperForm" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_add_mapper }}
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                data-dismiss="modal"
                                class="btn btn-default btn-lg">
                            {% trans "Cancel" %}
                        </button>
                        <button
                                type="submit"
                                class="btn btn-info btn-lg">
                            {% trans "Create" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $("#post_mapper_search").click(() => {
            form = $("#mapper_search");
            form.submit();
        });
    </script>
    <script type="text/javascript">
        $("img[id='current_avatar']").click((evt) => {
            $(evt.target).parents('div').find('#avatars').slideToggle("slow");
        });
        $("img[id^='avatar_']").click((evt) => {
            const selected_avatar = $(evt.target);
            const avatars = $(evt.target).parents('div').find('#avatars');
            const current_avatar = $(evt.target).parents('div').find('#current_avatar');
            const hidden_avatar = $(evt.target).parents('div').find('#id_avatars');
            $(current_avatar).attr('src', selected_avatar.attr('src'));
            hidden_avatar.val(selected_avatar.attr('id').split('_')[1]);
            avatars.slideUp("slow");
        });
    </script>
{% endblock %}
