{% extends "voyadmin/base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
    <link rel="stylesheet" href="{% sass_src 'css/user/user_detail.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/report/report.scss' %}" type="text/css">
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <div class="content-heading">
                Mappers
                <div class="input-group margin-bottom-sm col-xs-2 pull-right">
                    <form action="{% url "voy-admin:users:mappers_list" %}" method="get" id="mapper_search">
                        {% for field in filter_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {{ filter_form.search }}
                    </form>
                    <span id="post_mapper_search" class="input-group-addon" style="cursor:pointer;">
                        <i class="fa fa-search fa-fw"></i>
                    </span>
                </div>
            </div>

            <div class="panel panel-default col-xs-11 pull-right" id="report">
                <div class="panel-heading">
                    <div>
                        <a href="{% url "voy-admin:users:mappers_list" %}">
                            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                        </a>
                        <span class="text-bold">{% trans "Profile" %}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container-column">
                        <div style="display: flex; align-items: baseline">
                            <div class="col-xs-1">
                                <img src="{{ mapper.get_avatar_display }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h4>{{ mapper.get_full_name }}</h4>
                                <p>{{ mapper.email }}</p>
                                <p>{% trans "Creation date" %}: {{ mapper.date_joined|date:"d N Y" }}</p>
                            </div>
                            <div>
                                <button
                                        type="button"
                                        data-toggle="modal"
                                        data-target="#modalEditMapperProfile"
                                        class="btn btn-info btn-lg btn-oval">{% trans "Edit profile" %}
                                </button>
                            </div>
                        </div>
                        <div class="container-row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-4">
                                <div class="well">
                                    <h4>Projects</h4>
                                    <ul class="no-bullets">
                                        {% for project in mapper.projects.all %}
                                            <li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="well">
                                    <h4>Themes</h4>
                                    <ul class="no-bullets">
                                        {% for theme in mapper.themes.all %}
                                            <li><a href="{{ theme.get_absolute_url }}">{{ theme.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for report in mapper.reports.all %}
                            {% include "report/report_resume.html" with report=report %}
                        {% endfor %}
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block extrahtml %}
    <div id="modalEditMapperProfile"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalEditMapperProfileLabel"
         aria-hidden="true"
         class="modal fade"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="container-column">
                        <div>
                            <h4 id="modalEditMapperProfileLabel" class="modal-title">{% trans "Edit Profile" %}</h4>
                        </div>
                        <div style="padding: 5px;">
                            <img src="{{ mapper.get_avatar_display }}" alt="">
                        </div>
                        <div>
                            <a href="" class="btn btn-lg btn-info">{% trans "Remove mapper" %}</a>
                        </div>
                    </div>
                </div>
                <form action="{{ request.get_full_path }}" id="editMapperForm" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_mapper }}
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                data-dismiss="modal"
                                class="btn btn-default btn-lg">
                            {% trans "Close" %}
                        </button>
                        <button
                                type="submit"
                                class="btn btn-info btn-lg">
                            {% trans "Save changes" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript">
        $('#id_themes').chosen();
        let selected = [];

        /* Select the current values. */
        {% for selected_theme in selected_themes %}
            selected.push({{ selected_theme }});
        {% endfor %}
        $(".chosen-select").val(selected).trigger('chosen:updated');

        $('#id_project').change(function (e) {
            e.preventDefault();
            var project = e.target.value;
            axios.get('{% url "voy-api:themes-list" %}' + '?project=' + project).then((response) => {
                $('#id_themes').empty();
                $('#id_themes').trigger('chosen:updated');
                $('#id_themes').append('<option value="">{% trans 'Theme' %}</option>');
                response.data.map((item) => {
                    $('#id_themes').append('<option value="' + item.id + '">' + item.name + '</option>');
                    $('#id_themes').trigger('chosen:updated');
                });
            }).catch(error => {
                console.log(error);
            });
        });
    </script>
    <script type="text/javascript">
        $("#post_mapper_search").click(() => {
            form = $("#mapper_search");
            form.submit();
        });
    </script>
    <script type="text/javascript">
        axios.defaults.headers.post = {'X-CSRFToken': '{{ csrf_token }}'};

        disable_remove_button = (state) => {
            $("input[id^='remove_mappers']").prop("disabled", state);
        };

        $("[id^='mapper_check']").change((event) => {
            if (event.target.checked) {
                disable_remove_button(false);
            } else {
                if (event.target.id === 'mapper_check_all' && !event.target.checked) {
                    disable_remove_button(true);
                }
                if ($("[id^='mapper_check']input:checked").length <= 0) {
                    disable_remove_button(true);
                }
            }
        });
        $('#remove_mappers').click(function () {
            swal({
                title: "{% trans "Are you sure?" %}",
                text: "{% trans "We will delete the selected mapper(s)." %}",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then(willDelete => {
                if (willDelete) {
                    event.preventDefault();
                    let usersToDelete = new Promise((resolve, reject) => {
                        let mappers = new Array();
                        let params = new URLSearchParams();
                        mappers.push(_.map($("[id^='mapper_check']input:checked"),
                            mapper => {
                                return mapper.value
                            }));
                        params.append('deleteMappers', mappers);
                        console.log(params);
                        resolve(params);
                    });
                    usersToDelete.then(
                        users => {
                            axios.post("{% url 'voy-admin:users:mappers_list' %}", users)
                                .then(() => {
                                    swal("Success", "Users deleted!", "success").then(value => {
                                        window.location.href = "{% url "voy-admin:users:mappers_list" %}"
                                    })
                                })
                                .catch(() => {
                                    swal("Ops!", "Somethings wrong happen!", "error")
                                        .then(value => {
                                            window.location.href = "{% url "voy-admin:users:mappers_list" %}"
                                        })
                                });

                        }
                    );

                }
            });
        })
    </script>
{% endblock %}
