{% extends "./user_base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/users_list.scss' %}" type="text/css">
{% endblock %}

{% block users_base_panel_body %}
    <div class="table-responsive">
        <table class="table users-list {% block extra_table_users_class %}{% endblock %}">
            <thead>
            <tr>
                <th data-check-all="">
                    <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" id="users_check_all">
                            <span class="fa fa-check"></span>
                        </label>
                    </div>
                </th>
                <th>
                    <div>
                        <button
                            class="btn btn-default btn-lg"
                            id="remove_user"
                            disabled
                        >{% trans "Remove" %}</button>
                    </div>
                </th>
                {% block search_bar %}
                    {% if filter_form %}
                        <th colspan="2">
                            <form action={% url "voy-admin:users:mappers_list" %} method="get" role="form" id="filter_form">
                                <div>
                                    {{ form.non_field_errors }}
                                    <div>
                                        <p>Filter by:</p>
                                    </div>
                                    {% for field in filter_form.hidden_fields %}
                                        {{ field }}
                                    {% endfor %}
                                    {% for field in filter_form.visible_fields %}
                                        {% if field != filter_form.search %}
                                            <div class="col-xs-3">
                                                {{ field }}
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </form>
                        </th>
                        <th>
                            <div>
                                <input
                                    id="submit_filter"
                                    value={% trans "Filter" %}
                                    class="btn btn-primary btn-lg"/>
                            </div>
                        </th>
                    {% else %}
                        <th></th>
                        <th></th>
                    {% endif %}
                {% endblock %}
            </tr>
            </thead>
            <tbody>
                {% block users_list_panel_body %}
                    {% for user in users %}
                        {% include "./include/user_render.html" %}
                    {% endfor %}
                {% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block users_base_panel_footer %}
    <div class="row">
        <div class="text-right">
            {% include "voyadmin/paginator.html" with paginator=users %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#submit_filter').click(() => {
            $('#filter_form').submit();
        });
    </script>
    <script type="text/javascript">
        disable_remove_button = (state) => {
            $("button[id^='remove_user']").prop("disabled", state);
        };

        $("[id^='user_check']").change((event) => {
            if (event.target.checked) {
                disable_remove_button(false);
            } else {
                if (event.target.id === 'users_check_all' && !event.target.checked) {
                    disable_remove_button(true);
                }
                if ($("[id^='user_check']input:checked").length <= 0) {
                    disable_remove_button(true);
                }
            }
        });

        $('#remove_user').click(function () {
            swal({
                title: "{% trans "Are you sure?" %}",
                text: "{% trans "We will delete the selected user(s)." %}",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then(willDelete => {
                if (willDelete) {
                    let users = new Array();
                    users.push(_.map($("[id^='user_check']input:checked"),
                        mapper => {
                            return mapper.value
                        }));
                    var params = new URLSearchParams();
                    params.append('deleteUsers', users);
                    axios.post("{{ delete_users_url }}", params)
                        .then(() => {
                            swal("Success", "Users deleted!", "success").then(value => {
                                window.location.href = "{{ list_users_url }}"
                            })
                        })
                        .catch(() => {
                            swal("Ops!", "Somethings wrong happen!", "error")
                                .then(value => {
                                    window.location.href = "{{ list_users_url }}"
                                })
                        });
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("img[id='current_avatar']").click((evt) => {
            $(evt.target).parents('div').find('#avatars').slideToggle("slow");
        });
        $("img[id^='avatar_']").click((evt) => {
            const selected_avatar = $(evt.target);
            const avatars = $(evt.target).parents('div').find('#avatars');
            const current_avatar = $(evt.target).parents('div').find('#current_avatar');
            const hidden_avatar = $(evt.target).parents('div').find('#id_avatars');
            $(current_avatar).attr('src', selected_avatar.attr('src'));
            hidden_avatar.val(selected_avatar.attr('id').split('_')[1]);
            avatars.slideUp("slow");
        });
    </script>

    <script type="text/javascript">
        $("#post_user_search").click(() => {
            form = $("#user_search");
            form.submit();
        });
    </script>
{% endblock %}
