{% extends "voyadmin/base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/user_base.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
{% endblock %}

{% block extrahtml %}
    {% if button_add_new_user %}
        {% include "./include/modal_add_user.html" %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
    <script>
        axios.defaults.headers.common = {'X-CSRFToken': '{{ csrf_token }}'};
    </script>

    <script type="text/javascript">
        $("select[id='id_theme']").chosen();
        $("select[id='id_project']").chosen();

        $("select[id='id_projects']").chosen();
        $("select[id='id_themes']").chosen();
    </script>

    <script type="text/javascript">
    $("select[id='id_projects']").on('change', function(evt, params) {
        const currentFormId = $(evt.target.closest("form")).attr('id');
        themesSelect = $('#' + currentFormId + ' select[id=id_themes]');

        if (params.selected !== undefined) {
            axios.get('{% url "voy-api:themes-list" %}' + '?project=' + params.selected).then((response) => {
                const projectName = $("#id_projects option[value='" + params.selected + "']").text();
                response.data.map((item) => {
                    themesSelect.append('<option data-project="' + params.selected + '" value="' + item.id + '" selected="selected">' + item.name + ' (' + projectName + ')</option>');
                    themesSelect.trigger('chosen:updated');
                });
            }).catch(error => {
                console.log(error);
            });
        } else if (params.deselected !== undefined) {
            const selectedProjects = $('#id_projects').val();
            const projectToRemove = params.deselected;

            $('#id_themes option[data-project="' + projectToRemove + '"]').each(function() {
                $(this).remove();
                themesSelect.trigger('chosen:updated');
            });
        }
    });
    </script>
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <div class="content-heading">
                <div style="display: flex; flex-direction: row-reverse;">
                    <div style="order: 1; flex-grow: 2; align-items: stretch;">
                        <p>{% block title %}Users{% endblock %}</p>
                    </div>
                    <div class="input-group margin-bottom-sm col-xs-3">
                        {% include "./include/users_search_form.html" %}
                    </div>
                    {% if button_add_new_user %}
                    <div class="input-group margin-bottom-sm" style="order: -1; margin-left: 47px;">
                        <button
                                class="btn btn-default"
                                data-toggle="modal"
                                data-target="#modalAddUser">
                            <i class="fa fa-plus fa-lg" style="margin-right: 5px"></i> {% block add_new_user_button_title %}Add
                            new user{% endblock %}
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="display: flex; padding: 2rem">
            {# TODO: We need a more concisive way to format this panel without use id. #}
            <div class="panel panel-default col-xs-12" id="report">
                <div class="panel-body">
                    {% block users_base_panel_body %}{% endblock %}
                    {% block users_base_panel_footer %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
