{% extends "./user_base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/report/report.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'css/user/user_detail.scss' %}" type="text/css">
{% endblock %}

{% block users_base_panel_body %}
    <div class="container-column">
        <div style="display: flex; align-items: baseline">
            <div class="col-xs-1">
                <img src="{{ voy_user.get_avatar_display }}" alt="">
            </div>
            <div class="col-xs-10">
                <h4>{{ voy_user.get_full_name }}</h4>
                <p>{{ voy_user.username }}</p>
                <p>{{ voy_user.email }}</p>
                <p>{% trans "Creation date" %}: {{ voy_user.date_joined|date:"d N Y" }}</p>
            </div>
            <div>
                <button
                    type="button"
                    data-toggle="modal"
                    data-target="#modalEditUserProfile"
                    class="btn btn-info btn-lg btn-oval">{% trans "Edit profile" %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrahtml %}
    {{ block.super }}
    <div id="modalEditUserProfile"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalEditUserProfileLabel"
         aria-hidden="true"
         class="modal fade"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="container-column">
                        <div>
                            <h4 id="modalEditUserProfileLabel" class="modal-title">{% trans "Edit Profile" %}</h4>
                        </div>
                        <div style="display: none" id="avatars">
                            {% for id, avatar_url in form_add_user.fields.avatars.choices %}
                                <img src="{{ avatar_url }}" alt="" id="avatar_{{ id }}" style="cursor: pointer">
                            {% endfor %}
                        </div>
                        <div style="padding: 5px;">
                            <div>
                                <img id="current_avatar" src="{{ voy_user.get_avatar_display }}" alt=""
                                     style="cursor: pointer">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-lg btn-info" id="remove_user">
                                {% block remove_user_button_title %}{% trans "Remove user" %}{% endblock %}</button>
                        </div>
                    </div>
                </div>
                <form action="{{ request.get_full_path }}" id="editUserForm" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_edit_user }}

                        <div id="themes_select">
                            <label for="id_theme">{% trans "Themes" %}:</label>
                            <select name="themes" id="id_themes" multiple="multiple" class="chosen-select form-control">
                                {% for theme in form_edit_user_theme %}
                                <option data-project="{{ theme.project.pk }}" value="{{ theme.pk }}" selected>{{ theme }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            id="reset_password"
                            type="button"
                            class="btn btn-default btn-lg">
                            {% trans "Reset password" %}
                        </button>
                        <button
                            type="button"
                            data-dismiss="modal"
                            class="btn btn-default btn-lg">
                            {% trans "Close" %}
                        </button>
                        <button
                            type="submit"
                            class="btn btn-info btn-lg">
                            {% trans "Save changes" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalEditUserPassword"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalEditUserPasswordLabel"
         aria-hidden="true"
         class="modal fade"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="container-column">
                        <div>
                            <h4 id="modalEditUserPasswordLabel" class="modal-title">{% trans "Reset Password" %}</h4>
                        </div>
                    </div>
                </div>
                <form action="" id="passwordUserForm" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form_reset_password_user }}
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            data-dismiss="modal"
                            class="btn btn-default btn-lg">
                            {% trans "Close" %}
                        </button>
                        <button
                            id="submitResetPassword"
                            type="submit"
                            class="btn btn-info btn-lg">
                            {% trans "Reset password" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $("img[id='current_avatar']").click((evt) => {
            $(evt.target).parents('div').find('#avatars').slideToggle("slow");
        });

        $("img[id^='avatar_']").click((evt) => {
            const selected_avatar = $(evt.target);
            const avatars = $(evt.target).parents('div').find('#avatars');
            const current_avatar = $(evt.target).parents('div').find('#current_avatar');
            const hidden_avatar = $(evt.target).parents('div').find('#id_avatars');
            $(current_avatar).attr('src', selected_avatar.attr('src'));
            hidden_avatar.val(selected_avatar.attr('id').split('_')[1]);
            avatars.slideUp("slow");
        });
    </script>
    <script type="text/javascript">
        $('#reset_password').click(() => {
            $('#modalEditUserProfile').modal('toggle');
            $('#modalEditUserPassword').modal('toggle');
        });

        $('#submitResetPassword').click((e) => {
            e.preventDefault();
            const password = $('#id_password').val();
            const confirm_password = $('#id_confirm_password').val();

            if ((password && confirm_password) && (password === confirm_password)) {
                $('#passwordUserForm').submit();
            } else {
                swal({
                    title: '{% trans "Password is wrong!" %}',
                    text: '{% trans "Please, check password." %}',
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                });
            }
        });

        $("#remove_user").click(() => {
            swal({
                title: '{% trans "You really want to delete this user?" %}',
                text: '{% trans "This operation is irreversible!" %}',
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((answer) => {
                if (answer === true) {
                    axios.delete('{{ user_delete_url }}').then(() => {
                        window.location = '{{ users_list_url }}'
                    });
                }
            }).catch(error => {
                swal('{% trans "Something wrong happened!" %}', '{% trans "Please try again!" %}', "error");
            })
        });

        {% if user.id %}
            $('[for=password-form],[id=password-form]').hide();
        {% else %}
            $('[id=password-form]').attr('required', true);
        {% endif %}
    </script>
{% endblock %}
