{% extends "voyadmin/base.html" %}
{% load static i18n sass_tags %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/user/user_base.scss' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'vendor/chosen/1.8.2/chosen.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'vendor/chosen_v1.2.0/chosen.min.css' %}">
{% endblock %}

{% block extrahtml %}
    {% block modal_add %}
        {% include "./include/modal_add_user.html" %}
    {% endblock %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <!-- <script src="{% static 'vendor/chosen/1.8.2/chosen.jquery.min.js' %}"></script> -->
    <script src="{% static 'vendor/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>
    <script>
        axios.defaults.headers.common = {'X-CSRFToken': '{{ csrf_token }}'};
    </script>

    <script type="text/javascript">
        $("select[id='id_theme']").chosen();
        $("select[id='id_themes']").chosen();
        $("select[id='id_project']").chosen();

        $("select[id='id_project']").change(function (e) {
            e.preventDefault();
            const currentFormId = $(e.target.closest("form")).attr('id');
            var project = e.target.value;
            axios.get('{% url "voy-api:themes-list" %}' + '?project=' + project).then((response) => {
                themesSelect = $('#' + currentFormId + ' select[id=id_themes]');
                themesSelect.empty();
                themesSelect.trigger('chosen:updated');
                response.data.map((item) => {
                    themesSelect.append('<option value="' + item.id + '">' + item.name + '</option>');
                    themesSelect.trigger('chosen:updated');
                });
            }).catch(error => {
                console.log(error);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section>
        <div class="content-wrapper">
            <div class="content-heading">
                <div style="display: flex; flex-direction: row-reverse;">
                    <div style="order: 1; flex-grow: 2; align-items: stretch;">
                        <p>{% block title %}Users{% endblock %}</p>
                    </div>
                    <div class="input-group margin-bottom-sm col-xs-3">
                        {% include "./include/users_search_form.html" %}
                    </div>
                    <div class="input-group margin-bottom-sm" style="order: -1; margin-left: 47px;">
                        <button
                                class="btn btn-default"
                                data-toggle="modal"
                                data-target="#modalAddUser">
                            <i class="fa fa-plus fa-lg" style="margin-right: 5px"></i> {% block add_new_user_button_title %}Add
                            new user{% endblock %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; padding: 2rem">
            {# TODO: We need a more concisive way to format this panel without use id. #}
            <div class="panel panel-default col-xs-12" id="report">
                <div class="panel-body">
                    {% block users_base_panel_body %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
