$color_approve: #B7E683;
$color_edit: #00CBFF;
$color_reject: #E46A87;
$color_delete: #DE486B;

#report {
    .filter {
        font-size: 15px;
        margin-top: 8px;
    }

    .b-bottom {
        border-bottom: 1px solid #efefef;
    }

    .b-left {
        border-left: 1px solid #efefef;
        min-height: 230px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        .b-left {
            min-height: 0px;
        }
    }

    .block {
        display: block;
    }

    a.view, a.approve {
        width: 150px;
        margin: 15px;
        height: 39px;
        padding-top: 10px;
    }

    .panel-body {
        padding: 0px 15px 0px 15px;

        .m-top {
            margin-top: 10px;
        }

        .comments {
            color: red;
        }
        
        .badge-theme {
            padding: 10px;
            border-radius: 50px;
        }

        .badge-tags {
            padding: 8px;
            border-radius: 50px;
            background-color: #c5c5c5;
        }

        .badge-image {
            position:relative;
            padding-top:20px;
            display:inline-block;

            .text {
                position: absolute;
                right: 28px;
                min-width: 28px;
                min-height: 28px;
                background-color: $color_edit;
                text-align: center;
                border-radius: 50px;
                color: white;
                font-size: 20px;
                bottom: 30px;
            }
        }
    }

    .view {
        border-color: $color_edit;
    }

    .approve {
        border-color: $color_approve;
    }
}

#new-report {
    .buttons {
        a {
            width: 100px;
            margin: 15px 5px;;
            height: 39px;
            border-radius: 50px;
            font-weight: bold;
            padding-top: 10px;
        }
    }

    .approve {
        border-color: $color_approve;
        color: $color_approve;
    }

    .edit {
        border-color: $color_edit;
        color: $color_edit;
    }

    .delete {
        border-color: $color_delete;
        color: $color_delete;
    }

    .reject {
        border-color: $color_reject;
        color: $color_reject;
    }
}
