#project .box {
    border: none;
}

#project .box .buttons {
    padding: 28px 0px 28px;
}

#project .box .header {
    background-color: #00CBFF;
    padding: 30px;
}

#project .box .panel-footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

#project .box .buttons .btn.btn-default {
    border-color: #00CBFF;
}

#project .box .buttons button {
    min-width: 100px;
}
