#theme {
    .box {
        span {
            padding-left: 10px;
            padding-right: 10px; 
        }

        .header {
            color: #fff;
        }

        .buttons {
            padding: 28px 0px 28px;

            a {
                min-width: 100px;
            }

            .btn.btn-default {
                border-color: #00CBFF;
            }
        }
    }
}
