{% load i18n %}

<div id="modalAddUser"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalAddUserLabel"
     aria-hidden="true"
     class="modal fade"
     style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="container-column">
                    <div>
                        <h4 id="modalAddUserLabel" class="modal-title">
                            {% if modal_add_title %}
                                {{ modal_add_title }}
                            {% else %}
                                {% trans "Add user" %}
                            {% endif %}
                        </h4>
                    </div>
                    <div style="display: none" id="avatars">
                        {% for id, avatar_url in avatars %}
                            <img src="{{ avatar_url }}" id="avatar_{{ id }}" style="cursor: pointer">
                        {% endfor %}
                    </div>
                    <div style="padding: 5px;">
                        <img id="current_avatar" src="{{ default_avatar }}" alt="" style="cursor: pointer">
                        <p><small>{% trans 'Click on the Avatar to choose another' %}</small></p>
                    </div>
                </div>
            </div>
            <form action="{{ post_add_user_url }}" id="addUserForm" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form_add_user }}

                    <div id="themes_select">
                        <label for="id_theme">{% trans "Themes" %}:</label>
                        <select name="themes" id="id_themes" multiple="multiple" required="required" class="chosen-select form-control" data-placeholder="{% trans 'Select one or more themes' %}"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            data-dismiss="modal"
                            class="btn btn-default btn-lg">
                        {% trans "Cancel" %}
                    </button>
                    <button
                            type="submit"
                            class="btn btn-info btn-lg">
                        {% trans "Create" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
