$color:#555555;
$font_family: 'Roboto', sans-serif;

body {
    color: $color;
    font-family: $font_family;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.4px;

    a {
        color: $color;
        text-decoration: none;
        font-family: $font_family;
        font-size: 15px;
        font-weight: 500;
        
        &:hover {
            color: $color;
            text-decoration: none;
        }
    }
}

.header-rigth-side {
    img {
        width: 20px;
        height: 20px;
    }
    
    .avatar {
        width: 43px;
        height: 43px;
    }
}
